Adafruit-Blinka==4.1.0
adafruit-circuitpython-bme680==3.2.0
adafruit-circuitpython-busdevice==4.3.0
adafruit-circuitpython-sgp30==2.2.0
Adafruit-PlatformDetect==2.4.0
Adafruit-PureIO==1.0.4
asn1crypto==0.24.0
certifi==2022.12.7
chardet==3.0.4
colorlog==4.1.0
cryptography==2.6.1
entrypoints==0.3
idna==2.6
influxdb==5.2.3
keyring==17.1.1
keyrings.alt==3.1.1
pycairo==1.19.1
pycrypto==2.6.1
pyftdi==0.47.2
PyGObject==3.30.4
pyserial==3.4
python-apt==1.8.4.1
python-dateutil==2.8.1
pytz==2019.3
pyusb==1.0.2
pyxdg==0.25
requests==2.21.0
rpi-ws281x==4.2.3
RPi.GPIO==0.7.0
SecretStorage==2.3.1
six==1.12.0
spidev==3.4
ssh-import-id==5.7
sysv-ipc==1.0.1
urllib3==1.24.1
